.cards-section {
  margin-top: 20px;
  align-items: start;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-size: cover;
  background-position: center;
  height: 300px;
  flex: 1;
  margin: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 87%;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  
  border-radius: 5px;
}

.card-content:hover {
  opacity: 1;
  background-color: rgba(230, 230, 230, 0.3);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .cards-section {
    flex-direction: column;
    align-items: center;
    height: 900px;
    margin: 200px 0;
  }

  .card {
      height: 100%;
      width: 100%;
  }

  .card-content {
    opacity: 1;
    background-color: rgba(230, 230, 230, 0.3);
  }
}