.cards-section {
  margin-top: 20px;
  align-items: start;
}

.card {
  background-size: cover;
  background-position: center;
  height: 300px;
  flex: 1;
  margin: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.card-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .cards-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
      height: 200px;
  }
}