.cards-section {
  margin-top: 20px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 300px;
  flex: 1;
  margin: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
      height: 200px;
  }
}

@media (max-width: 768px) {
  /* .card {
 
  } */
}
