.ReactModal__Overlay--after-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content--after-open {
  position: relative !important;
  top: 50%;
  left: 50%;
  max-width: 80%;
  max-height: 80vh;
  overflow: auto;
  background: white;
  padding: 20px;
  outline: none;
}

/* Carousel Slide Image Styling */
.slick-slide img {
  display: block;
  margin: auto; /* Center the image */
  max-width: 100%; /* Ensure image is not larger than its container */
  max-height: 70vh; /* Adjust to control image height */
}