.ReactModal__Overlay {
  transition: opacity 300ms ease-in-out;
  opacity: 0; /* Start with a transparent overlay */
}

.ReactModal__Overlay--after-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.ReactModal__Content--after-open {
  position: relative !important;
  top: 50%;
  left: 50%;
  max-width: 80%;
  max-height: 80vh;
  overflow: hidden !important;
  background: white;
  padding: 20px;
  outline: none;
}

.slick-slider img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 70vh;
}

@media (max-width: 768px) {
  .ReactModal__Content--after-open {
    inset: 0px !important;
    max-width: 95%;
    max-height: 95vh;
  }

  .slick-slider img {
    max-height: 60vh;
  }
}


@media (min-width: 1200px) {
  .ReactModal__Content--after-open {
    max-width: 1000px;
  }
}