.slick-next::before, .slick-prev::before {
  color: gray;
}

.modal-close {
  position: absolute;
  right: 1%;
  top: 1%;
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;
  color: white;
  background-color: gray;
  width: 22px;
  height: 22px;
  box-shadow: 0px 0px 5px 0px black;
}